.wrapper {
  background: url("../../../public/assets/background/table.jpg") no-repeat
    center center fixed;
  background-size: cover;
  height: 100vh;
  position: relative;
}

.player1 {
  position: absolute;
  bottom: 20px;
  right: 50%;
  transform: translateX(50%);
}

.option {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.skip,
.gambling {
  width: 90px;
  height: 50px;
  border-radius: 8px;
  background-color: aliceblue;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  color: #fff;
}

.skip {
  background-color: #dd860b;
}
.gambling {
  background-color: #0bdd58;
}

.b {
  display: flex;
}

.info {
  margin-right: 20px;
}

.time {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  color: #000;
  text-align: center;
  line-height: 40px;
  margin-bottom: 10px;
}

.name {
  width: 60px;
  height: 20px;
  border-radius: 4px;
  background-color: aliceblue;
  text-align: center;
}

.player2 {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.player3 {
  display: flex;
  position: absolute;
  top: 20px;
  right: 50%;
  transform: translateX(50%);
}

.info3 {
  margin-left: 20px;
}

.player4 {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}
