.wrapper {
  width: 100%;
  height: 100vh;
  background: url("../../public/assets/background/home.png") center/cover
    no-repeat fixed;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.option {
  position: absolute;
}

.btn {
  width: 200px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  background-color: aqua;
  margin: 16px 0;
  border-radius: 4px;
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(61, 231, 231);
}

.back {
  background-color: red;
}
